<!-- <h2>Questions? Comments? Contact us at <%= mail_to "info@medicimuseums.com" %></h2>
 -->
<%= image_tag("Medici_logos/Medici_logo_Inset.png",class: "hidden-xs" ,id: "about-logo")%>
<div class= "about-header">
	<p>
		At Medici, we believe you’re either a current or future museum person. We get you on-demand access to fun, under the radar exhibitions, events, and experiences happening in cultural centers locally and beyond. Grab your friends and discover some of the most storied museum collections in the world.See the city you love through fresh eyes or go explore a new one. Meet other cool, curious people along the way. Medici isn’t the destination. Medici is your ticket to changing how you museum.
	</p>
</div>
