<h2>Terms and Conditions</h2>
<p>
I. Definitions and interpretation
</p>
<p>
"Event" means an entertainment event including, without limitation, a concert, exhibition, sports, theatrical and/or music event to be held at a Venue in respect of which We have the right to sell You Tickets.
</p>
<p>
"Tickets" means tickets or other types of evidence (including electronic tickets) for an Event sold by Us to You on behalf of the organisation responsible for the Event for the right to occupy space at or to attend an Event.
</p>
<p>
"Venue" means any facilities or locations of any nature where the Event is being held.
</p>
<p>
"We" means Medici App LLC. "Us" and "Our" shall be read accordingly.
</p>
<p>
"You" means you or anybody who in Our reasonable opinion is acting with your authority or permission. "Your" shall be read accordingly.
</p>
<p>
"Promoter" means the person firm or company staging the Event if different from Us and the Venue.
</p>
<p>
"Group" means group organisers, charities, travel and coach companies or other organisations that We have agreed to sell to knowing that the Tickets are intended for resale.
</p>
<p>
2. Incorporation
</p>
<p>
These Terms and Conditions incorporate and should be read in accordance with the Venue and/or Promoter terms, conditions and regulations, copies of which are available upon request from the Venue. In the event of any inconsistency between the terms in relation to Venue or Event requirements, those of the Promoter shall prevail. If no Promoter, those of the Venue shall prevail.
</p>
<p>
3. Tickets
</p>
<p>
All Tickets are sold subject to availability and to these Terms and Conditions. These Terms and Conditions should be read carefully prior to purchase and any queries relating to them should be raised with us prior to purchase as purchase of Tickets constitutes acceptance of these Terms and Conditions
</p>
<p>
We confirm that We are authorised to sell Tickets.
</p>
<p>
A valid Ticket must be produced to get into an Event. Removing any part of, altering or defacing the Ticket may invalidate Your Ticket.
</p>
<p>
It is Your responsibility to check Your Tickets as if you have made a mistake they cannot always be rectified after purchase. Please check your Tickets on receipt carefully and contact us immediately if there is a mistake.
</p>
<p>
We will not be responsible for any Ticket that is lost, stolen or destroyed. It is not always possible to issue duplicate tickets, for example but not limited to non-seated events where there is a possibility of both the original and duplicate tickets being used, compromising the licensed capacity of the venue.  Duplicates may therefore be issued at the discretion of the Promoter or the Venue acting reasonably. In the event of duplicates being issued, a reasonable administration charge may be levied.
</p>
<p>
We and the Promoter reserve the right to provide alternative seats at an Event to those specified on the Ticket should the staging of the Event so reasonably require, provided they are of no less value to that stated on the Ticket.
</p>
<p>
Where a concession is claimed, proof of identity and concession entitlement (for example of age or student status) may be required.
</p>
<p>
Ownership or possession of a Ticket does not confer any rights (by implication or otherwise) on You to use, alter, copy or otherwise deal with any of the symbols, trade marks, logos and/or intellectual property appearing on the Ticket.
</p>
<p>
4. Price and payment
</p>
<p>
The price of the Ticket shall be the price set at the time We accept Your order. All prices set are inclusive of any applicable taxes but exclusive of any booking fee and collection or delivery fee. No order will be accepted until We have received full payment.
</p>
<p>
5. Delivery
</p>
<p>
Tickets will be delivered via email upon completion of purchase.
</p>
<p>
If Your Tickets are not being held at the Venue box office, and You have not received Your Tickets from Us 72 hours prior to the Event, please contact Us.
</p>
<p>
If Tickets that are dispatched Royal Mail ordinary post, special delivery or registered post are returned to Us at "addressee unknown" We reserve the right to cancel Your booking and make a refund of the Ticket price only.
</p>
<p>
We reserve the right to make Tickets available for collection at the Venue box office. You will be notified by telephone, email or in writing of the arrangements for collection (using the details provided at the time of ordering) if this becomes necessary. Where there is not enough time to deliver Tickets, You will be told at the point of purchase the arrangements for collection of Your tickets.  Where you are collecting your tickets from Us, in person, there will be no charge made for this service.
</p>
<p>
If You are 'collecting Your Tickets from the Venue box office, You must have Your acknowledgement of order and the credit/debit card used to make the order with You. You will be able to collect Your Tickets [to be inserted by Ticket seller] hour[s] prior to the start of the Event.
</p>
<p>
6. Changes to Event
</p>
<p>
Where reasonably necessary, the organiser of the Event and/or the Venue reserves the right to make alterations to the published Event programme.
</p>
<p>
7. Refunds/exchanges
</p>
<p>
Except where We offer an applicable Ticket exchange or resale facility, Tickets cannot be exchanged or refunded after purchase unless the performance is cancelled or rescheduled (subject to below) or where there is a material change to the programme of Event. Where an Event is cancelled or rescheduled (subject to below) by the Venue or Promoter, where an Event is cancelled or rescheduled due to circumstances beyond Our control,  or where there is a material change to the programme of the Event, You will be entitled to claim a refund from Us in accordance with this clause.
</p>
<p>
A 'material' change is a change which, in Our reasonable opinion, makes the Event materially different to the Event that purchasers of the Ticket, taken generally, could reasonably expect. The use of understudies in a theatre performance shall not be a material change.
</p>
<p>
Where an outdoor Event is cancelled or curtailed because of adverse weather, We shall not be liable to make any refund or pay any compensation beyond the refunds that may be payable under the Venue's or Promoter's rules.
</p>
<p>
Where such a refund is sought You must bring this to Our attention as soon as possible upon becoming aware of such change and, where the Event has been rescheduled, prior to the rescheduled Event. The refund for Tickets equals the face value of the Tickets purchased plus the relevant per Ticket booking fee in accordance with the STAR Code of Practice. In order to claim Your refund, please apply in writing to Your point of purchase, enclosing Your complete unused Tickets, if received, promptly (e.g. within 3 months from the date of the Event).
Refunds shall only be made to the person who purchased the Tickets and, when possible, be made using the same method as was used to purchase the Tickets except, at Our discretion, where payment was made by cash.
</p>
<p>
These Terms and Conditions do not and shall not affect your statutory rights as a consumer.  For further information about your statutory rights contact Citizens Advice, Consumer Direct <a href="http://www.consumerdirect.gov.uk/ ">http://www.consumerdirect.gov.uk/ </a>or the Department for Business Enterprise and Regulatory Reform
</p>
<p>
8. Liability
</p>
<p>
Personal arrangements including travel, accommodation or hospitality relating to the Event which have been arranged by You are at your own risk.  Liability for the cancellation or rescheduling of an Event, or for material changes to an Event, will be limited to the refund as set forth in Section 7.
</p>
<p>
Neither We nor the Venue nor the Promoter will be responsible for any loss, theft or damage of Your personal belongings, other than caused as a result of Our negligence or that of the Venue or the Promoter or other breach of statutory duty.
</p>
<p>

9. Cancelled/re-scheduled Events
</p>
<p>
It is Your responsibility to ascertain whether an Event has been cancelled or re-scheduled and the date and time of any re-scheduled Event. Where an Event is cancelled or re-scheduled, We will use Our reasonable endeavours to notify You using the details You provided Us with at the time of ordering. We do not guarantee that You will be informed of such cancellation before the date of the Event.
</p>
<p>
It is Your responsibility to inform Us of any change to the contact address, telephone number or email address You provide Us with at the time of ordering.
</p>
<p>
For football matches, no guarantees can be given that the Event will take place at a particular time or on a particular date. We, the Venue and the Promoter reserve the right to reschedule any such Event-without notice and without any liability whatsoever. The details given on football tickets are indicative only and it is Your responsibility to check the final arrangements for any matches for which you have tickets including the date and Kick-off time of any such Event.
</p>
<p>
10. Use of details and Data Protection
To read the Privacy Policy, <%=link_to "click here", terms_privacy_path%>.
</p>
<p>

11. Resale/use of Tickets and property
</p>
<p>
You may not re-sell or transfer a Ticket if prohibited by law.  In addition, re-sales or transfers of Tickets may be prohibited for certain events subject to the specific terms and conditions of those events (for example but not exclusively limited to charity events or events where age restrictions may apply because of content of the entertainment or licensing requirements. You may not re-sell or transfer a Ticket if you are selling or transferring the Ticket in the course of business.  You are deemed to be selling or transferring in the course of business where we reasonably believe you to be doing so.
</p>
<p>
Circumstances where We may consider that a Ticket is being resold in the course of business include:
</p>
<p>
1) Where a Ticket is sold or advertised for sale for profit (as defined below) through any medium not authorised by Us, including through unauthorised online auction or other websites.  Such a sale will be assessed in the light of the factors set out at 2 & 3 below.
</p>
<p>
2) Where a single Ticket reseller frequently advertises or offers tickets for resale for the same event or multiple events.
</p>
<p>
3) Where we reasonably consider that a Ticket offered for resale has originally been purchased with the specific intention of offering it for resale for profit and with no intention for the original purchaser or a friend or associate of the purchaser to make use of the Ticket by attending the event.
</p>
<p>
4) Where we offer an authorised exchange, return or resales facility, a Ticket offered for resale for profit more than fourteen days before the event takes place and through sales channels that have not been authorised by Us will automatically be considered to be a business transaction.  Such a sale will be assessed in light of factors set out at 2 & 3 above. If a ticket is offered for resale for profit less than fourteen days before the event takes place then We may determine whether We consider this to be a business transaction by taking other factors into consideration including:
</p>
<p>
a. The number of tickets being offered for sale by the ticket reseller.
</p>
<p>
b. Any evidence that You or someone for whom You have bought the ticket can provide regarding the fact that he/she cannot attend the event for genuine reasons.
</p>
<p>
c. Whether a third party business (such as an online auction site or other such ticket resale facilitator) not authorised by Us will benefit financially by way of commission or other fee from facilitating the resale of the ticket, particularly if that financial benefit varies according to the price paid for the resold ticket.
</p>
<p>

Re-selling a Ticket for profit means any re-sale that seeks a price that is higher than the face value of the ticket and the relevant booking fee and/or handling fee (if any) that You paid for the Ticket.
Where a Ticket is offered for resale in line with these terms and conditions, you must provide to the buyer full details of the ticket. Full details include, if printed on the ticket, the block or tier, row and seat number as well as the name of the original supplier and any booking reference number.  Buyers must also be made aware of these terms and conditions and any other terms and conditions that are specific to the event.  You should check whether any special terms apply before offering a free Ticket for resale. Free tickets are often provided for specific reasons limiting their transferability.
</p>
<p>

12. Void Tickets
</p>
<p>
Any Ticket obtained in breach of these Terms and Conditions shall be void and all, rights conferred or evidenced by such Ticket shall be void. Any person seeking to use such a void Ticket in order to gain or provide entry to an Event may be considered to be a trespasser and may be liable to be ejected and liable to legal action.
</p>
<p>
Void Tickets are non-refundable.
</p>
<p>

13 Restrictions on the purchase of tickets
</p>
<p>
Tickets may be restricted to a maximum number. Any such restriction shall be notified to You at the time You book the- Tickets. We reserve the right to cancel Tickets purchased in excess of this number and without the Agent’s agreement, without prior notice unless the purchase of an excess was due to Our error.
</p>
<p>

14. Conditions of Admission
</p>
<p>
The management of the Venue reserves the right to refuse Ticket holders admission to the Venue in reasonable circumstances including for health and safety, licensing reasons or where a Ticket is void.
The management of the Venue also reserves the right to request that Ticket holders leave the Venue at any point on reasonable grounds and may take any appropriate action to enforce this right. By way of example, the Venue may remove a Ticket holder who:
</p>
<p>
1) has behaved in the Venue in a manner which, in the reasonable opinion of the Venue has, or is likely to affect the enjoyment of other visitors; or
</p>
<p>
2) uses threatening, abusive or insulting words or behaviour or in any way provokes or behaves in a manner which may provoke a breach of the peace; or
</p>
<p>
3) in the reasonable opinion of the Venue is acting under the influence of alcohol or drugs; or
</p>
<p>
4) fails, when required, to produce proof of identity or age.
</p>
<p>
You must comply with instructions and directions given by Venue staff and stewards.
</p>
<p>
No refunds will be given to Ticket holders who are refused entry or ejected due to their own behaviour as suggested in, but not limited to, the examples above.
</p>
<p>

15. Restrictions and prohibitions
</p>
<p>
The use of equipment for recording or transmitting (by digital or other means) any audio, visual or audio-visual material or any information or data inside any Venue is strictly forbidden. Unauthorised recordings, tapes, films or similar items may be confiscated and destroyed. Any recording made of an Event in breach of these conditions shall belong to the Promoter. The Promoter and Venue will not be liable for any loss, theft or damage to confiscated items.
</p>
<p>
By attending an Event, Ticket holders consent to filming and sound recording of themselves as members of the audience. The Promoter may use such films and recordings (including any copies) without payment.
Ticket holders shall not bring into the Venue or display or distribute (whether for free or not) at the Event any sponsorship, promotional or marketing material's.
</p>
<p>
Mobile telephones and messaging equipment must be switched off during the Event.
</p>
<p>
Alcohol may only be consumed in public bars and other authorised areas. Smoking is not permitted unless within a designated smoking Area (if any).
</p>
<p>
The following are not permitted within any Venue:
</p>
<p>
1)  animals (with the exception of guide dogs);
2) laser pens
3) Your own food and drink (unless permitted by the Venue);
4) bottles, cans or glass containers (unless permitted by the Venue);
5) any item which may be interpreted as a potential weapon including sharp or pointed objects (e.g. knives);and
6) illegal substances.
The management of the Venue reserves the right to conduct security searches from time to time and confiscate any item which, in the reasonable opinion of the management of the Venue, may cause danger or disruption to other members of the audience or the Event or is one of the items not permitted in the Venue as listed above.
</p>
<p>
Every effort shall be made to admit latecomers to Events at a suitable break in the Event, which may be the interval, but late admission cannot be guaranteed.
</p>
<p>
Ticket holders may only leave and re-enter the Venue during an Event at the discretion of the management of the Venue. Otherwise, there will be no re-admission or pass-outs of any kind.
</p>
<p>
The obstruction of gangways, access-ways, exits, entrances or staircases, congregating in non-designated areas or seeking entry to stands or seats for which You do not hold a Ticket is strictly forbidden.
</p>
<p>

16. Health and Safety
</p>
<p>
Ticket holders must comply with all relevant statutes, safety announcements and Venue regulations whilst attending the Event.
</p>
<p>
If Ticket holders have any special requirements or concerns about any special effects which may be featured at the Event, prior notice should be provided when ordering Tickets. Special effects may include, without limitation, sound, audio visual, pyrotechnic effects or lighting effects.

</p>
<p>
17.  Dispute Resolution
</p>
<p>
If any dispute arises out of these Terms and Conditions, We will attempt to settle it. To this end We shall use Our reasonable endeavours to consult or negotiate in good faith, and attempt to reach a just and equitable settlement satisfactory to both parties.
</p>
<p>
18. Waiver
</p>
<p>
If We delay or fail to enforce any of these Terms and Conditions It shall not mean that We have waived our right to do so.
</p>
<p>
19. Assignment
</p>
<p>
We shall be entitled to assign any of Our rights and obligations under these Terms and Conditions provided that Your rights are not adversely affected.
</p>
<p>
20. Severability
</p>
<p>
If it is found by a Court that any of these Terms and Conditions for any reason cannot be enforced, this shall not prevent the other provisions from continuing to apply.
</p>
<p>

21. Force Majeure
</p>
<p>
For the purposes of these Terms and Conditions, "Force Majeure" means any cause beyond Our control including, without limitation, act of God, war, insurrection, riot, civil disturbances, acts of terrorism, fire, explosion, flood, theft of essential equipment, malicious damage, strike, lock out, weather, third party injunction, national defence requirements, acts or regulations of national or local governments. We will not be liable to You for failure to perform any obligation under these Terms and Conditions to the extent that the failure is caused by Force Majeure. This Clause does not affect the terms of Clause 7.
</p>
<p>
23. Amendments and variations
</p>
<p>
We intend to rely on the written terms set out here in this document as well as the written terms and conditions of the Venue and the Promoter.  You should read the terms and conditions carefully before entering into the contract to ensure that they contain everything that You consider has been agreed.  If they do not then you should speak to any member of staff.
</p>
<p>
After the contract has been made, these Terms and Conditions cannot be varied or amended in any respect unless both You and We agree and it is preferable that this is in writing).
</p>
<p>
24. No Partnership or Agency
</p>
<p>
Nothing in these Terms and Conditions and no action taken by You or Us under these Terms and Conditions shall create, or be deemed to create, a partnership, joint venture or establish a relationship of principal and agent or any other relationship between You and Us beyond the relationship created under these Terms and Conditions..
</p>
<p>
25. Entire agreement
</p>
<p>
These Terms and Conditions, and the terms and conditions of the Venue and the Promoter and any specially agreed terms constitute the entire agreement between the parties in connection to, its subject matter and supersede any previous terms and conditions, agreement or arrangement between the parties.
</p>
<p>
Each of the parties agrees that it has not entered into these Terms and Conditions in reliance on, and shall have no remedy in respect of, any statement, representation, covenant, warranty, undertaking or indemnity (whether negligently or innocently made) by any person (whether party to these Terms of Conditions or not)-other than as expressly set out in these Terms and Conditions. Nothing in this clause shall operate to limit or exclude any liability for fraud.
</p>
<p>

26. Governing Law and Jurisdiction
Disputes: THIS Campaign IS GOVERNED BY THE LAWS OF THE UNITED STATES AND ILLINOIS, WITHOUT RESPECT TO CONFLICT OF LAW DOCTRINES. As a condition of purchase of this ticket, You agree that any and all disputes that cannot be resolved between the parties, and causes of action arising out of or connected with this Campaign, shall be resolved individually, without resort to any form of class action, exclusively before a court located in Illinois having jurisdiction. Further, in any such dispute, under no circumstances shall You be permitted to obtain awards for, and hereby waives all rights to, punitive, incidental, or consequential damages, including reasonable attorney’s fees, other than participant’s actual out-of-pocket expenses (i.e. costs associated with entering this Campaign). Participant further waives all rights to have damages multiplied or increased.
</p>
