<h2>Search Results: <%= @term %></h2>

<% unless @tags.nil? %>
  <% @tags.each do |tag| %>
  <div class="btn-link">
    <%= link_to(Tag.find_by(name:tag)) do %>
       <button type="button" class="btn btn-default tag-button"><%="##{tag}"%></button>
     <% end %>
  </div>
  <% end %>
<% end %>
<div class= "row masonry-container">
  <% if @posts.empty? %>
    <p> Sorry! Nothing matches your search query.</p>
  <% else %>
  	<% @posts.shuffle.each do |post| %>
  	  <%= render "search_row", post: post, ticket: @ticket  %>
  	<% end %>
  <% end %>
</div>
