<% if admin? %>
  <%= link_to "Add Exhibit Tags", "#{@exhibit.id}/tagging" %>
  <%= link_to "Edit Exhibit", edit_exhibit_path %>
<% end %>

<%= render "shared/post_show_row", exhibit: @exhibit, museum: @museum, ticket: @ticket  %>

<h2> Related Exhibits </h2>
<div class= "row masonry-container">
  <% Event.all.each do |event| %>
    <%= render "museum_row", post: event, ticket: @ticket  %>
  <% end %>
</div>
