<%= link_to "Add Interests", "#{current_user.id}/tagging" %><br>

<h2>Museums for you!</h2>
<div class="row masonry-row">
	<% @posts.shuffle.each do |post| %>
	  <%= render "custom_row", post: post, ticket: @ticket  %>
	<% end %>
</div>
<br>
