<% if admin? %>
  <%= link_to "Add Event Tags", "#{@event.id}/tagging" %>
  <%= link_to "Edit Event", edit_event_path %>
<% end %>


<%= render "shared/post_show_row", exhibit: @event, museum: @event, ticket: @ticket  %>

<h2> Related Events </h2>
<div class= "row masonry-container">
  <% Event.all.each do |event| %>
    <%= render "museums/museum_row", post: event, ticket: @ticket  %>
  <% end %>
</div>
