.backend-form {
  display: inline-block;
  border: 1px black solid;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 15px;
}

.backend-form .field label, .backend-form .field {
  font-size: 20px;
  margin-top: 5px;
}

.coupon-card {
  margin-bottom: 15px;
  list-style-type: none;
}

.coupon-details {
  display: inline-block;
  border: 1px black solid;
  border-radius: 7px;
  padding: 20px;
}
