.ticket-sub-row{
	display: table-row;
}
.ticket-sub-row i, .ticket-sub-row p, .ticket-sub-row h4{
	display: table-cell;
	vertical-align: middle;
}
.ticket-sub-row i{
	color: lightGrey;
	font-size: 20px;
	padding-right: 15px; 
}
.ticket-sub-row i:hover{
	color: #C9302C;
}
.ticket-drop-down{
	margin: 0px 15px;
	border: solid 1px #dedede; 
    background: url('drop-carrot.png') no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 60px;
    border-radius: 5px !important;
}

.ticket-drop-down > select{
    background: transparent !important;
    border: none;
    font-size: 14px;
    height: 29px;
    width: 88px;
}
.cart-body{
	margin-bottom: 15px;
}
.cart-body label{
	display: block;
}
.cart-body h3{
	display: inline;
	margin-bottom:0px;
}
.cart-submit{
	float: right;
}
.cart-body .input-button{
	padding: 12px 20px;
}
.cart-body span ~ a{
	font-family: HansKendrick-Medium;
	color: #35A9C3; 
}

