.body, .nav-row{
	background-color: #f8f8f8;
}
h1, h2, h3, h4, h5{
  font-family: HansKendrick-Heavy !important;
}
h4{
  color: #00AEEF !important;
}
h5{
	margin-top: 5px;
	font-size: 20px !important;
}
p{
	font-size: 17px;
   font-family: HansKendrick-light, "Helvetica Neue Light", "Helvetica Neue";
   color: #8D8D8D;
}

* {
   font-family: HansKendrick;
   color: #696969;
   font-size: 10px;
}
* a {
  font-family: HansKendrick-Heavy;
  font-size: 1.6rem;
}

.input-button, .input-button:hover{
  color: #FFF;
  text-decoration: none !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.col-lg-3, .col-lg-6{
    transition: all 200ms;
}
.admin {
	float:right;
}

.hidden-xs a:hover {
	text-decoration: none;
}
.btn-link {
	margin-bottom: 20px;
	margin-left: 5px;
	display: inline-block;
}

button.btn.btn-default.tag-button:focus {
  outline: none;
}

.btn-link a:hover {
	text-decoration: none !important;
}
.btn-link button{
	background-color: transparent;
}

.content {
	overflow: hidden;
}
.masonry-container {
	overflow: hidden;
}
.post-wrapper {
	overflow: hidden;
}
a.avatar img{
	border-radius: 100px;
	width: 40%;
	border: 5px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
	left: 60%;
	transform: translate(75%, -5%);
	margin-bottom: 2%;
	margin-top: -40%;
}

.cart-submit .input-button{
	top: 100px;
}

.cart-body .checkbox-span {
	margin-right: 10px;
	margin-bottom: 5px;
}

.blog-description {
	padding-top: 4.5%;
}

.blog-description p:first-child:first-letter {
	float: left;
	/*color: #903;*/
	font-size: 3.2em;
	/*line-height: 55px;*/
	margin-top: -6%;
	margin-bottom: -5%;
	padding-right: .5%;
	/*padding-left: 3px;*/
	font-family: Georgia;
}

.blog-img {
	margin-top: 2%;
	margin-bottom: 2%;
}
.cyan {
	float: left;
	background-color: cyan;
	height: 2px;
	width: 33%;
	/*display: inline-block;*/
	box-sizing: border-box;
}
.magenta {
	float:left;
	background-color: magenta;
	height: 2px;
	width: 33%;
	/*box-sizing: border-box;*/
	display: inline-block;
}
.yellow {
	float: left;
	background-color: yellow;
	height: 2px;
	width: 33%;
	/*box-sizing: border-box;*/
	display: inline-block;
}

.big-button a, .big-button .input-button{
	width: 90%;
	margin-left: 5%;
}
a:hover {
	text-decoration: none !important;
}

.thumbnail:hover {
	transition: box-shadow 0.5s ease;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15) !important;
}

.avatar:hover, .user-name:hover, .main-logo:hover {
	transition: transform 0.5s ease;
	transform: scale(1.04);
}
.avatar, .user-name, .main-logo {
	transition: transform 0.5s ease;
}

.main-logo {
	margin-bottom: 5%;
}

.user-name:hover{
	color:#00AEEF !important;
}

a:focus {
	outline:0;
}

*:focus {
	outline:0;
}

.dropdown {
	margin-top: 1%;
	display:inline-block;
	margin-left: 1%;
}

.social-footer a i:hover {
	color: #00AEEF;
}

.tags-list {
	list-style: none;
}

.search-in-search {
	display: none;
	padding-top: 2%;
}

select#any_or_all.form-control {
	width: 8%;
	min-width: 50px;
	display: inline-block;
}

.mobile-title {
	color: #696969;
	margin-top: -5%;
}

.thumbnail p:hover, .thumbnail p:focus, .thumbnail p:active, .thumbnail p:visited{
	text-decoration: none;
}

.tagline {
	text-align: center;
	font-family: HansKendrick-Medium;
	font-size: 14px;
	margin-bottom: 0px;
}

.mobile-tagline {
	float: left;
}

.event-museum {
	color: #696969;
}
.event-museum:hover {
	color: #00AEEF;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:16px 20px 16px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:16px;
	border-left: 0;
}
table td {
	padding:14px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}


.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.trans-drop {
	margin-left: 5%;
	margin-right: 4%;
}

.back-x {
	float:right;
	margin-right: 1.5%;
	margin-top: .5%;
}

.website {
	text-align: right;
	width: 25em;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.fa-share-square-o {
	float: right;
}

i.fa.fa-twitter-square, i.fa.fa-facebook-square{
	font-size: 2em;
	margin: 0 1% 0 1%;
}

i.fa.fa-twitter-square:hover, i.fa.fa-facebook-square:hover{
	color: #00AEEF;
}

.museum-name {
	color: #696969;
}

p.extra-hours{
	font-family: HansKendrick-light;
	color: #696969;
	margin: 3px;
	font-size: 14px !important;
	text-align: right;
}

.coupon-error {
	color: #ff0000;
}
