.body, .nav-row{
	background-color: #f8f8f8;
}
h1, h2, h3, h4{
  font-family: HansKendrick-Heavy !important;
}
h4{
  color: #35A9C3 !important;
}
p{
	font-size: 17px;
   font-family: HansKendrick-light, "Helvetica Neue Light", "Helvetica Neue";
   color: #8D8D8D;
}

* {
   font-family: HansKendrick;
   color: dimGrey;
   font-size: 10px;
}
* a {
  font-family: HansKendrick-Heavy;
  font-size: 1.6rem;
}

.input-button, .input-button:hover{
  color: #FFF;
  text-decoration: none !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.col-lg-3, .col-lg-6{
    transition: all 200ms;
}
.admin {
	float:right;
}

.hidden-xs a:hover {
	text-decoration: none;
}
.btn-link {
	margin-bottom: 20px;
	margin-left: 5px;
	display: inline-block;
}

button.btn.btn-default.tag-button:focus {
  outline: none;
}

.btn-link a:hover {
	text-decoration: none !important;
}
.btn-link button{
	background-color: transparent;
}

.content {
	overflow: hidden;
}
.masonry-container {
	overflow: hidden;
}
.post-wrapper {
	overflow: hidden;
}
a.avatar img{
	border-radius: 100px;
	width: 40%;
	border: 5px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
	left: 60%;
	transform: translate(75%, -5%);
	margin-bottom: 2%;
	margin-top: -30%;
}

.cart-submit .input-button{
	top: 100px;
}

.cart-body .checkbox-span {
	margin-right: 10px;
	margin-bottom: 5px;
}

.blog-description {
	padding-top: 4.5%;
}

.blog-description p:first-child:first-letter {
	float: left;
	/*color: #903;*/
	font-size: 3.2em;
	/*line-height: 55px;*/
	margin-top: -6%;
	margin-bottom: -5%;
	padding-right: .5%;
	/*padding-left: 3px;*/
	font-family: Georgia;
}

.blog-img {
	margin-top: 2%;
	margin-bottom: 2%;
}
.cyan {
	float: left;
	background-color: cyan;
	height: 2px;
	width: 33%;
	/*display: inline-block;*/
	box-sizing: border-box;
}
.magenta {
	float:left;
	background-color: magenta;
	height: 2px;
	width: 33%;
	/*box-sizing: border-box;*/
	display: inline-block;
}
.yellow {
	float: left;
	background-color: yellow;
	height: 2px;
	width: 33%;
	/*box-sizing: border-box;*/
	display: inline-block;
}

.big-button a, .big-button .input-button{
	width: 90%;
	margin-left: 5%;
}
a:hover {
	text-decoration: none !important;
}

.thumbnail:hover {
	transition: box-shadow 0.5s ease;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15) !important;
}

.avatar:hover, .user-name:hover, .main-logo:hover {
	transition: transform 0.5s ease;
	transform: scale(1.04);
}
.avatar, .user-name, .main-logo {
	transition: transform 0.5s ease;
}
a:focus {
	outline:0;
}

*:focus {
	outline:0;
}

.dropdown {
	margin-top: 1%;
	display:inline-block;
}

.social-footer a i:hover {
	color: darkSlateGray;
}

.tags-list {
	list-style: none;
}

.row-tags {
	color: #9B9999;
	font-family: HansKendrick-Light;
	font-size: 1.4em;
}
.row-tags:hover {
	color: darkSlateGray;
}
