// Place all the styles related to the museum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  height: 200px !important;
  width: 100% !important;
}
.museum-row{
	display: table;
}
#m_fav{
    padding: 15px;
}
.image-wrap{
	display: table-cell;
}
.museum-description{
	border: solid 3px green;
    float: left !important;
    display: table-cell !important;
    vertical-align: bottom;
}
.image-wrap{
	padding: 0px !important;
}

.image-wrap img{
	width: 100%;
}
