.panel-exhibit-show{

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15) !important;
}
.panel-row{
	background-color: white;
}
.panel-body{
	clear: both;
	border-top: dashed 1px #D3D3D3;
}
.panel-exhibit-show img{
	max-width: 100%;
}
.panel-exhibit-show .input-button {
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #35A9C3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 5px;
  margin-bottom: 0px;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  transform: rotateZ(0deg);
  transition: all 0.5s ease-out;
  border-bottom-width: 4px;
}
.panel-exhibit-show .input-button:focus {
  border-bottom-width: 3px;
}
.panel-exhibit-show h4{
	color: dimGrey;
}
.panel-exhibit-show .venue{
	font-size: 16px;
}
.museum-info-wrapper{
	text-align: left;
}
#map{
	height: 200px !important;
	width: 100%!important;
}
.museum-info-wrapper h3 > a{
	color: dimGrey !important;
	font-size: 20px !important;
	font-family: HansKendrick-Heavy;
}
.museum-info{
	margin-top:15px;
	margin-left: 0px !important; 
	border-bottom: solid 1px #D3D3D3;
	display: inline-block;
	clear: both;
	width: 100%;
}
.museum-info-type{
	margin: 3px;
	color: dimGrey!important;
	float: left;
	font-size: 14px;
	font-family: HansKendrick-Heavy;
}
.museum-info-entry, .museum-info-entry a{
	font-family: HansKendrick-light;
	color: dimGrey;
	margin: 3px;
	font-size: 14px !important;
	float: right;
}
.icon-link{
	color: #D3D3D3;
	margin-right: 15px;
	font-size: 30px !important;
}
.tag-wrapper{
	float: right;
}
.tag-button{
	border: 2px solid #D3D3D3 !important;
	font-family: HansKendrick-Heavy;
	color: #D3D3D3 !important;
	border-radius: 20px !important;
}
