.container-sign-in{
	height: 100vh;
  display: flex;
}
.panel-sign-in{
  display: none;
  position: absolute;
  left: 40%;
  top: 50%;
  min-width: 300px;
  transform: translate(-50%, -50%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15) !important;
  animation-name: dropPanel;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
}

@keyframes dropPanel {
    0% {
        left: 40%;
        top: 0%;
        transform: translate(-50%, -50%);
    }
    100% {
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.header-wrapper{
	text-align: center;
}
.panel-sign-in #header{
	margin-bottom: 20px;
	display: block;
	font-size: 24px;
}
.header-wrapper button{
	font-family: arial;
	font-size: 18px;
	color: #d8d8d8;
    transition: all 0.1s ease;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: solid 5px rgba(1, 0, 0, 0.2) !important;
}
.header-wrapper button:hover{

	border-bottom-width: 4px !important;
}
.or-wrapper{
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.or-wrapper i{
	width: 60px;
	border-bottom: 1px solid #d8d8d8;
	line-height:0.1em;
	margin:10px 0 20px;
}
.or-wrapper i span {
	font-size: 16px;
	color: #d8d8d8;
	background:#fff;
	padding:0 10px;
}
.panel-sign-in .input-field{
	margin-top: 20px;
	padding: 0px 20px;
}
.panel-sign-in .input-button{
	display: inline;
}
.panel-sign-in .btn-group{
	margin: 5px 15px;
}
.panel-sign-in .input-field {
  font-size: 12px;
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 4px;
  color: dimGrey;
}

.panel-sign-in .input-field:focus {
  outline: none;
  color: #444;
  border-color: #35A9C3;
  border-left-width: 35px;
}

.panel-sign-in label{
  font-size: 12px;
  color: lightGrey;
  padding-left: 0px !important;
  margin-bottom: 15px;
}
.panel-sign-in input[type="checkbox"] {
  text-align: left !important;
  display: none;
}
input[type="checkbox"] + label span {
  display:inline-block;
  width:18px;
  height:18px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(sprite.png) -18px top no-repeat;
  cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(sprite.png) left top no-repeat;
}
.header-wrapper .facebook-connect {
	color: white;
	font-family: HansKendrick, "Helvetica Neue Light", "Helvetica Neue";
}

.tag-list {
	color: #0C8795 !important;
	margin-bottom: -5px !important;
	margin-top: -5px !important;
}

.form-panel {
	background-color: #f8f8f8 !important;
}
