<div class="redemption-notes" style="text-align: center; padding-top: 60px; padding-left: 60px;">
  <h2>Thank you for ordering your <%= @free %> tickets!</h2>
  <h3>Your ticket has been emailed to you.</h3>
  <h4>Pro Tip: Check the spam folder if you can't find it.</h4>
</div>
